
body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
.head {
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Broken Dreams', sans-serif;
                                                
}
body {
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg');
 
  color: #eae3e3; /* White text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c9a; 
    margin: 20px;
    border-radius: 50px;
}
#card-container {
  margin: 20px 10%;
  text-align: center;
  overflow: hidden;
  height: 50%;
  
}

img {
  max-width: 100%;
  height: 100%;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3498db; /* Blue button background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9b59b6; /* Purple button background color on hover */
}
.inst{
    display: flex;
    background: #2c2c2c;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    padding: 50px;
    border-radius: 30px;
    margin: 20px;
}
.small{
    font-family: 'Broken Dreams', sans-serif;
    font-size: 80px;
    padding: 10px;
}
.inscont {
    display: flex;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}